.footer {
    font-size: 15px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(49, 44, 44);
    color: aliceblue;
    height: 200px;
    align-items: center;
}

.middle-column {
    font-size: 15px;
}